Repository dumpmemory/MagiAttention: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, csrc_code_formatter

copyright_checker:
  name: check for copyright
  entry: python3 ./tools/codestyle/copyright.py
  language: system

csrc_code_formatter:
  name: check for csrc code format
  entry: bash scripts/run_csrc_code_formatter.sh
  language: system
  args:
  - -i
  require_serial: true

opt performance and jit logic (#153)
  magi_attention/common/jit/core.py
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_preprocess_kernel.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/flex_flash_attn.py
  setup.py
Due: copyright_checker, csrc_code_formatter

hotfix(ffa): fix memory access error in fwd kernel (#155)
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

feature(test+lint): custom timeout for test and downgrade clang-format version to 20 (#157)
  .github/workflows/lint.yaml
  magi_attention/csrc/common/utils.h
  magi_attention/csrc/flexible_flash_attention/block.h
  magi_attention/csrc/flexible_flash_attention/fast_zero_fill_kernel.h
  magi_attention/csrc/flexible_flash_attention/fast_zero_fill_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_preprocess_kernel.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/csrc/flexible_flash_attention/seqlen.h
  magi_attention/csrc/flexible_flash_attention/softmax.h
  magi_attention/testing/dist_common.py
  scripts/install_clang_format.sh
  scripts/run_csrc_code_formatter.sh
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Separate Q/K block size for uniform block sparse bench (#149)
  exps/README.md
  exps/attn/baselines/utils.py
  exps/attn/run_block_sparse_benchmark.py
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_block_sparse_attn.py
Due: copyright_checker, csrc_code_formatter

Add profile for ffa (#148)
  exps/attn/profile_ffa/README.md
  exps/attn/profile_ffa/__init__.py
  exps/attn/profile_ffa/compare_ffa_results.py
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/profile_ffa/profile_ffa.sh
  exps/attn/profile_ffa/run_branch_profile.sh
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/utils/profile_utils.cu
  magi_attention/csrc/utils/profile_utils.h
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  setup.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Add profile template (#159)
  docs/source/env_variables.md
  exps/attn/profile_ffa/README.md
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/profile_ffa/profile_ffa.sh
  exps/attn/profile_ffa/run_branch_profile.sh
  magi_attention/csrc/comm/grpcoll/kernels/reduce_op.cuh
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/testing/utils.py
  setup.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_merge_range.py
  tests/test_dist_runtime_mgr/test_dist_runtime_mgr.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker, csrc_code_formatter

added csrc/utils/*.h to package-data (#161)
  pyproject.toml
Due: none

[HotFix] Fix the ffa utils dynamic linking (#162)
  magi_attention/csrc/comm/grpcoll/kernels/internode.cu
  magi_attention/csrc/comm/grpcoll/kernels/intranode.cu
  magi_attention/functional/_flex_flash_attn_jit.py
  setup.py
Due: copyright_checker, csrc_code_formatter

Support intranode group cast hidden size (#163)
  exps/grpcoll/test_intranode_grpcoll.py
  magi_attention/csrc/comm/grpcoll/buffer.cpp
  magi_attention/csrc/comm/grpcoll/kernels/intranode.cu
  magi_attention/csrc/comm/grpcoll/kernels/utils.cuh
  setup.py
Due: copyright_checker, csrc_code_formatter

Init extensions for flash attention with attn sink (#167)
  .github/workflows/sphinx.yaml
  README.md
  docs/source/env_variables.md
  docs/source/install.md
  extensions/README.md
  extensions/__init__.py
  extensions/fa2_interface_with_sink.py
  extensions/fa3_interface_with_sink.py
  extensions/requirements.txt
  extensions/tests/__init__.py
  extensions/tests/test_fa_interface_with_sink.py
  magi_attention/api/functools.py
  magi_attention/comm/__init__.py
  magi_attention/csrc/utils/unique_consecutive_pairs.cu
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/sdpa.py
  magi_attention/functional/utils.py
  setup.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Update examples for v1.0.5 (#168)
  examples/megatron/README.md
  examples/megatron/results.png
  examples/torch_native/README.md
  examples/torch_native/configuration_llama.py
  examples/torch_native/llama_pretrain_config.py
  examples/torch_native/main.py
  examples/torch_native/modeling_llama.py
  examples/torch_native/run.sh
  examples/transformers/README.md
  examples/transformers/magi_attention_func.py
  examples/transformers/magi_trainer.py
  examples/transformers/result.png
  examples/transformers/run_magi_clm.py
  examples/transformers/run_magi_clm.sh
  examples/transformers/run_origin_clm.py
  examples/transformers/run_origin_clm.sh
  pyproject.toml
Due: copyright_checker

fixed the bug for negative expected_head in intranode_group_reduce (#169)
  magi_attention/csrc/comm/grpcoll/buffer.cpp
  magi_attention/csrc/comm/grpcoll/kernels/intranode.cu
Due: copyright_checker, csrc_code_formatter

Bump v1.0.5 (#170)
  README.md
  docs/source/quickstart.md
  examples/megatron/README.md
  magi_attention/api/magi_attn_interface.py
  magi_attention/comm/__init__.py
  pyproject.toml
Due: copyright_checker

fix no build cache (#171)
  magi_attention/functional/_flex_flash_attn_jit.py
Due: copyright_checker

Support ssh sink layout (#173)
  exps/README.md
  exps/attn/baselines/attn_impl.py
  exps/attn/draw_benchmark.py
  exps/attn/requirements.txt
  exps/attn/run_benchmark.py
  exps/dist_attn/baselines/usp_nsa.py
  exps/dist_attn/requirements.txt
  exps/dist_attn/run_benchmark.sh
  extensions/README.md
  extensions/fa2_interface_with_sink.py
  extensions/fa3_interface_with_sink.py
  extensions/requirements.txt
  extensions/tests/test_fa_interface_with_sink.py
  magi_attention/benchmarking/bench.py
  magi_attention/common/enum.py
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_preprocess_kernel.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_postprocess_kernel.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_postprocess_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_bwd.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.cpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/sink_layout.cuh
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/functional/sdpa.py
  magi_attention/functional/utils.py
  magi_attention/testing/precision.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Support magi_attn_extensions (#176)
  README.md
  extensions/README.md
  extensions/__init__.py
  extensions/magi_attn_extensions/__init__.py
  extensions/magi_attn_extensions/fa2_interface_with_sink.py
  extensions/magi_attn_extensions/fa3_interface_with_sink.py
  extensions/requirements.txt
  extensions/setup.py
  extensions/tests/test_fa_interface_with_sink.py
  pyproject.toml
  setup.py
Due: copyright_checker

Support online-softmax attn reference and random flag mode (#174)
  exps/attn/run_benchmark.py
  exps/dist_attn/tests/test_utils.py
  extensions/tests/test_fa_interface_with_sink.py
  magi_attention/benchmarking/bench.py
  magi_attention/dist_attn_runtime_mgr.py
  magi_attention/functional/sdpa.py
  magi_attention/functional/utils.py
  magi_attention/testing/__init__.py
  magi_attention/testing/flag_generator.py
  magi_attention/testing/precision.py
  magi_attention/testing/ref_attn.py
  magi_attention/testing/utils.py
  magi_attention/utils/_utils.py
  tests/test_attn/test_dist_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_ref_attn.py
  tests/test_comm/test_group_collective.py
  tests/test_dist_runtime_mgr/test_dist_runtime_mgr.py
  tests/test_pipeline.py
  tests/test_pipeline_sdpa.py
  tests/test_utils/test_flag_generator.py
Due: copyright_checker

Featrue: MagiAttention UT with Coverage (#178)
  .github/scripts/install_requirements.sh
  .github/workflows/build_test.yaml
  magi_attention/__init__.py
Due: copyright_checker

Refine CP benchmark (#177)
  exps/dist_attn/baselines/interface.py
  exps/dist_attn/baselines/loongtrain.py
  exps/dist_attn/baselines/ring_attn.py
  exps/dist_attn/baselines/shard.py
  exps/dist_attn/baselines/ulysess.py
  exps/dist_attn/baselines/usp.py
  exps/dist_attn/baselines/utils_cp.py
  exps/dist_attn/benchmark/__init__.py
  exps/dist_attn/benchmark/datasets/default/doc_length_distribution.csv
  exps/dist_attn/benchmark/enums.py
  exps/dist_attn/benchmark/mask.py
  exps/dist_attn/benchmark/utils.py
  exps/dist_attn/benchmark_conf.py
  exps/dist_attn/requirements.txt
  exps/dist_attn/run_benchmark.py
  exps/dist_attn/run_profile.py
  exps/dist_attn/run_profile.sh
  exps/dist_attn/tests/test_baseline_attn.py
  exps/dist_attn/tests/test_utils.py
Due: copyright_checker

fix dynamic solver ut (#188)
  tests/test_attn_solver/test_dynamic_attn_solver.py
Due: copyright_checker

fixed fa_interface_with_sink by detaching the sink (#189)
  extensions/magi_attn_extensions/fa2_interface_with_sink.py
  extensions/magi_attn_extensions/fa3_interface_with_sink.py
Due: copyright_checker

Enhance functionalities of native grpcoll for internode (#182)
  .github/workflows/build_test.yaml
  README.md
  docs/source/env_variables.md
  exps/grpcoll/grpcoll_utils.py
  exps/grpcoll/run_grpcoll_test.sh
  exps/grpcoll/test_internode_grpcoll.py
  exps/grpcoll/test_intranode_grpcoll.py
  magi_attention/comm/primitive/grpcoll/_buffer.py
  magi_attention/comm/primitive/grpcoll/_config.py
  magi_attention/comm/primitive/grpcoll/_handle.py
  magi_attention/comm/primitive/grpcoll/_native_grpcoll_impl.py
  magi_attention/comm/primitive/grpcoll/utils.py
  magi_attention/csrc/comm/grpcoll/buffer.cpp
  magi_attention/csrc/comm/grpcoll/buffer.hpp
  magi_attention/csrc/comm/grpcoll/config.hpp
  magi_attention/csrc/comm/grpcoll/kernels/api.cuh
  magi_attention/csrc/comm/grpcoll/kernels/buffer.cuh
  magi_attention/csrc/comm/grpcoll/kernels/configs.cuh
  magi_attention/csrc/comm/grpcoll/kernels/ibgda_device.cuh
  magi_attention/csrc/comm/grpcoll/kernels/internode.cu
  magi_attention/csrc/comm/grpcoll/kernels/internode_ll.cu
  magi_attention/csrc/comm/grpcoll/kernels/internode_utils.cuh
  magi_attention/csrc/comm/grpcoll/kernels/intranode.cu
  magi_attention/csrc/comm/grpcoll/kernels/launch.cuh
  magi_attention/csrc/comm/grpcoll/kernels/layout.cu
  magi_attention/csrc/comm/grpcoll/kernels/reduce_op.cuh
  magi_attention/csrc/comm/grpcoll/kernels/runtime.cu
  magi_attention/csrc/comm/grpcoll/kernels/utils.cuh
  magi_attention/csrc/comm/grpcoll/meta.hpp
  magi_attention/csrc/flexible_flash_attention/sink_layout.cuh
  magi_attention/functional/dist_attn.py
  magi_attention/meta/collection/comm_meta.py
  scripts/enable_ibgda_on_host.sh
  setup.py
  tests/test_pipeline.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker, csrc_code_formatter

Extend cp benchmark with HybridDCP and better pipeline (#187)
  exps/README.md
  exps/dist_attn/baselines/hybrid_dcp.py
  exps/dist_attn/baselines/interface.py
  exps/dist_attn/baselines/loongtrain.py
  exps/dist_attn/baselines/ring_attn.py
  exps/dist_attn/baselines/shard.py
  exps/dist_attn/baselines/ulysess.py
  exps/dist_attn/baselines/usp.py
  exps/dist_attn/benchmark/mask.py
  exps/dist_attn/benchmark/utils.py
  exps/dist_attn/benchmark_conf.py
  exps/dist_attn/requirements.txt
  exps/dist_attn/run_benchmark.py
  exps/dist_attn/run_benchmark.sh
  exps/dist_attn/run_profile.py
  exps/dist_attn/run_profile.sh
  exps/dist_attn/tests/test_baseline_attn.py
  magi_attention/benchmarking/bench.py
  magi_attention/benchmarking/image_grid.py
Due: copyright_checker

Optimize Dynamic Solver (#183)
  docs/source/env_variables.md
  magi_attention/__init__.py
  magi_attention/api/magi_attn_interface.py
  magi_attention/comm/__init__.py
  magi_attention/common/enum.py
  magi_attention/common/range.py
  magi_attention/common/ranges.py
  magi_attention/common/rectangle.py
  magi_attention/common/rectangles.py
  magi_attention/dist_attn_runtime_mgr.py
  magi_attention/functional/dist_attn.py
  magi_attention/meta/_make_attn_meta.py
  magi_attention/meta/algorithms/__init__.py
  magi_attention/meta/algorithms/fast_snf.py
  magi_attention/meta/algorithms/grg.py
  magi_attention/meta/algorithms/ncq.py
  magi_attention/meta/algorithms/snf.py
  magi_attention/meta/solver/dynamic_attn_solver.py
  tests/test_attn_solver/test_dynamic_attn_solver.py
  tests/test_common/test_rectangle.py
  tests/test_pipeline.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker

SwapAB fwd for sparse scene (#158)
  exps/attn/baselines/utils.py
  exps/attn/run_swapab_benchmark.py
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/named_barrier.hpp
  magi_attention/csrc/flexible_flash_attention/softmax.h
  magi_attention/csrc/flexible_flash_attention/tile_scheduler.hpp
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/testing/dist_common.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

[HotFix] Fix native grpcoll GPU-CPU notify mechanism bug (#200)
  magi_attention/csrc/comm/grpcoll/buffer.cpp
  magi_attention/csrc/comm/grpcoll/kernels/api.cuh
  magi_attention/csrc/comm/grpcoll/kernels/internode.cu
  magi_attention/csrc/comm/grpcoll/kernels/internode_utils.cuh
  magi_attention/csrc/comm/grpcoll/kernels/intranode.cu
Due: copyright_checker, csrc_code_formatter

Optimize range gather for small hidden size and minor fix others (#202)
  .github/workflows/build_test.yaml
  magi_attention/comm/primitive/grpcoll/utils.py
  magi_attention/common/range_op/_range_gather.py
  magi_attention/common/range_op/utils.py
  magi_attention/testing/dist_common.py
  magi_attention/testing/precision.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_dist_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_comm/test_group_collective_utils.py
  tests/test_common/test_range_op/test_range_fill.py
  tests/test_common/test_range_op/test_range_gather.py
  tests/test_common/test_range_op/test_range_op_utils.py
  tests/test_common/test_range_op/test_range_reduce.py
Due: copyright_checker

Fix cp benchmark (#197)
  exps/README.md
  exps/attn/baselines/attn_impl.py
  exps/attn/run_benchmark.py
  exps/dist_attn/benchmark_conf.py
  exps/dist_attn/run_benchmark.py
  exps/dist_attn/run_benchmark.sh
  magi_attention/benchmarking/bench.py
  magi_attention/benchmarking/image_grid.py
  magi_attention/utils/_utils.py
Due: copyright_checker

reduce cp benchmark profile file size (#205)
  exps/dist_attn/run_benchmark.py
Due: copyright_checker

Support pack_gqa for ffa fwd (#185)
  .github/workflows/build_test.yaml
  exps/attn/profile_ffa/README.md
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/run_block_sparse_benchmark.py
  exps/attn/run_packgqa_bench.py
  magi_attention/csrc/flexible_flash_attention/block.h
  magi_attention/csrc/flexible_flash_attention/bwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash_bwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/fwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/testing/ref_attn.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Optimize ffa fwd tile_scheduler (#207)
  exps/attn/profile_ffa/README.md
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/run_block_sparse_benchmark.py
  exps/attn/run_packgqa_bench.py
  exps/attn/run_swapab_benchmark.py
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.cpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/fwd_tile_scheduler.hpp
  magi_attention/functional/flex_flash_attn.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
Due: copyright_checker, csrc_code_formatter

Update ci and minor refactor dist_attn (#212)
  .github/workflows/build_test.yaml
  magi_attention/functional/dist_attn.py
  magi_attention/utils/_utils.py
Due: copyright_checker

added safe directory for manually merge latest main (#215)
  .github/workflows/build_test.yaml
Due: none

added safe directory for manually merge latest main 2 (#216)
  .github/workflows/build_test.yaml
Due: none

replaced remote base with fetch head (#217)
  .github/workflows/build_test.yaml
Due: none

Sparse Load Support (#214)
  exps/attn/baselines/utils.py
  exps/attn/profile_ffa/README.md
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/run_block_sparse_benchmark.py
  exps/attn/run_sparse_load_block_sparse_benchmark.py
  exps/attn/run_sparse_load_dense_benchmark.py
  exps/attn/run_sparse_load_pack_gqa_benchmark.py
  exps/attn/run_swapab_benchmark.py
  exps/dist_attn/baselines/usp_nsa.py
  magi_attention/csrc/common/utils.h
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.cpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/csrc/utils/bindings.cpp
  magi_attention/csrc/utils/preprocess_sparse_load.cu
  magi_attention/csrc/utils/sort_and_reorder_ranges.cu
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/utils/sparse_utils.py
  setup.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_merge_range.py
Due: copyright_checker, csrc_code_formatter

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp|hxx|proto|py|pyi|sh)$, but not: (?x)^(
    magi_attention/csrc/cutlass/.+|
)$

  csrc_code_formatter: any of: ^magi_attention/csrc/.*\.(h|cuh|hpp|cpp|cu)$, but not: (?x)^(
    magi_attention/csrc/cutlass/.+|
)$

