Repository dumpmemory/MagiAttention: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, csrc_code_formatter

copyright_checker:
  name: check for copyright
  entry: python3 ./tools/codestyle/copyright.py
  language: system

csrc_code_formatter:
  name: check for csrc code format
  entry: bash scripts/run_csrc_code_formatter.sh
  language: system
  args:
  - -i
  require_serial: true

fix quantiles and merge_csv issues in bench (#221)
  exps/attn/run_benchmark.py
  exps/dist_attn/merge_draw_csv.py
  exps/dist_attn/run_benchmark.py
  magi_attention/benchmarking/bench.py
Due: copyright_checker

[HotFix] Add num_sms in bench config (#222)
  exps/dist_attn/benchmark_conf.py
  exps/dist_attn/run_benchmark.py
Due: copyright_checker

Refactor Code of cpp backend and flatten head (#220)
  magi_attention/__init__.py
  magi_attention/common/__init__.py
  magi_attention/common/enum.py
  magi_attention/common/range.py
  magi_attention/common/ranges.py
  magi_attention/common/rectangle.py
  magi_attention/common/rectangles.py
  magi_attention/meta/_make_attn_meta.py
  magi_attention/meta/algorithms/binary_greedy_parallel.py
  magi_attention/meta/container/transfer_table.py
  magi_attention/meta/solver/dist_attn_solver.py
  magi_attention/meta/solver/dynamic_attn_solver.py
  tests/test_common/test_attn_range.py
  tests/test_common/test_attn_ranges.py
  tests/test_common/test_rectangle.py
  tests/test_common/test_rectangles.py
  tests/test_dispatch/test_calc_self_attn_areas.py
  tests/test_dispatch/test_gt_dispatcher.py
  tests/test_pipeline.py
Due: copyright_checker

Swap FFA backward QK loop (#204)
  .gitignore
  exps/attn/merge_csv.py
  exps/attn/run_swapbwdqkloop_benchmark.py
  exps/dist_attn/baselines/usp_nsa.py
  exps/dist_attn/benchmark_conf.py
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/bwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/epilogue_bwd.hpp
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_postprocess_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_bwd.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/fwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/named_barrier.hpp
  magi_attention/csrc/flexible_flash_attention/sm90_pipeline_no_cluster.hpp
  magi_attention/csrc/flexible_flash_attention/softmax.h
  magi_attention/csrc/flexible_flash_attention/static_switch.h
  magi_attention/csrc/flexible_flash_attention/tile_size.h
  magi_attention/csrc/flexible_flash_attention/utils.h
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/meta/collection/calc_meta.py
  magi_attention/utils/_utils.py
  setup.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_pipeline.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker, csrc_code_formatter

Refactor attn-kernel benchmark and hotfix a logging bug (#227)
  exps/attn/baselines/attn_impl.py
  exps/attn/baselines/utils.py
  exps/attn/run_blackwell_benchmark.py
  exps/attn/run_blackwell_benchmark.sh
  exps/dist_attn/baselines/utils_cp.py
  exps/dist_attn/benchmark/mask.py
  magi_attention/functional/dist_attn.py
Due: copyright_checker

Refactor C++ bindings, add Auto Range Merge, and enable Visualization (#234)
  magi_attention/__init__.py
  magi_attention/config.py
  magi_attention/csrc/extensions/attn_ranges.hpp
  magi_attention/csrc/extensions/magi_attn_ext.cpp
  magi_attention/csrc/extensions/rectangle.hpp
  magi_attention/csrc/extensions/rectangles.hpp
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/magi_attn_ext.pyi
  magi_attention/meta/_make_attn_meta.py
  magi_attention/meta/collection/calc_meta.py
  magi_attention/meta/solver/dynamic_attn_solver.py
  magi_attention/meta/solver/dynamic_solver_vis.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tools/codestyle/copyright.py
Due: copyright_checker, csrc_code_formatter

Support Max Logits in Distributed and Flexible Flash Attention (#237)
  README.md
  docs/source/magi_api.md
  docs/source/quickstart.md
  exps/attn/run_max_logits_benchmark.py
  exps/dist_attn/baselines/usp_nsa.py
  extensions/tests/test_fa_interface_with_sink.py
  magi_attention/api/magi_attn_interface.py
  magi_attention/common/__init__.py
  magi_attention/common/forward_meta.py
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.cpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/utils.h
  magi_attention/dist_attn_runtime_mgr.py
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/testing/ref_attn.py
  setup.py
  tests/test_api/test_interface.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_dist_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_ref_attn.py
  tests/test_pipeline.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker, csrc_code_formatter

Max logits fix (#239)
  magi_attention/common/forward_meta.py
  magi_attention/dist_attn_runtime_mgr.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/functional/sdpa.py
  magi_attention/testing/ref_attn.py
  tests/test_api/test_interface.py
  tests/test_attn/test_dist_attn.py
  tests/test_attn/test_ref_attn.py
  tests/test_pipeline_sdpa.py
Due: copyright_checker

[HotFix] Max logits debug (#245)
  setup.py
Due: copyright_checker

removed cuda12 build ci (#263)
  .github/workflows/build_test.yaml
Due: none

fixed ci for csrc check (#264)
  .github/workflows/build_test.yaml
Due: none

[HotFix] fix fa3_interface_with_sink for window_size (#280)
  extensions/magi_attn_extensions/fa3_interface_with_sink.py
Due: copyright_checker

support fa4_interface with sink (#282)
  extensions/magi_attn_extensions/__init__.py
  extensions/magi_attn_extensions/fa4_interface_with_sink.py
  extensions/tests/test_fa_interface_with_sink.py
Due: copyright_checker

Add DSA attention interface in extensions (#283)
  .github/workflows/build_test.yaml
  extensions/magi_attn_extensions/__init__.py
  extensions/magi_attn_extensions/dsa_interface.py
  extensions/magi_attn_extensions/fa4_interface_with_sink.py
  extensions/tests/dsa_ref_attn.py
  extensions/tests/test_dsa_interface.py
Due: copyright_checker

[HotFix]: fix proxy (#284)
  .github/workflows/build_test.yaml
Due: none

Update v1.1.0 public blogs (#281)
  CONTRIBUTING.md
  assets/magi_attn/ffa/hstu_func_vs_attn_slice.png
  docs/source/blog/attn_engine.md
  docs/source/blog/attn_sink.md
  docs/source/blog/blackwell_ffa_fa4.md
  docs/source/blog/cp_benchmark.md
  docs/source/blog/dist_native.md
  docs/source/blog/dynamic_solver.md
  docs/source/blog/fa2_math_derivation.md
  docs/source/blog/jit_compile.md
  docs/source/blog/kernel_overlap.md
  docs/source/blog/magi_attn.md
  docs/source/blog/native_grpcoll.md
  docs/source/blog/refs/blackwell_ffa_fa4.bib
  docs/source/blog/refs/jit_compile.bib
  docs/source/blog/refs/native_grpcoll.bib
  docs/source/blog/sparse_attn.md
  docs/source/blog/toc.md
  docs/source/user_guide/env_variables.md
  docs/source/user_guide/install.md
  magi_attention/comm/primitive/grpcoll/_buffer.py
  magi_attention/magi_attn_ext.pyi
  setup.py
  tools/codestyle/copyright.py
Due: copyright_checker

Update v1.1.0 overview (#285)
  README.md
  assets/magi_attn/exp/kernel/.DS_Store
  assets/magi_attn/exp/kernel/b200/.DS_Store
  assets/magi_attn/exp/kernel/b200/varlen_causal_mask/.DS_Store
  assets/magi_attn/overview/magiattn_overview_v1.0.0.png
  assets/magi_attn/overview/magiattn_overview_v1.1.0.png
  docs/source/blog/magi_attn.md
Due: none

Support Ampere with cutlass-based FFA_FA4 (#287)
  docs/source/user_guide/install.md
  magi_attention/comm/primitive/grpcoll/_mgr.py
  magi_attention/functional/fa4.py
  magi_attention/functional/utils.py
  magi_attention/meta/collection/calc_meta.py
  magi_attention/meta/solver/dist_attn_solver.py
  magi_attention/meta/solver/dynamic_attn_solver.py
  scripts/install_flash_attn_cute.sh
  tests/test_pipeline.py
Due: copyright_checker

[HotFix] Fix ffa_fa4 installation progress (#288)
  setup.py
Due: copyright_checker

ci: set MAGI_ATTENTION_TEST_BACKEND in CI test step (#308)
  .github/workflows/build_test.yaml
Due: none

feat: add IndexAttn direct-index sparse attention fwd path (#313)
  .gitignore
  exps/attn/run_index_attn_block_sparse_benchmark.py
  exps/attn/run_index_attn_dense_benchmark.py
  exps/attn/run_index_attn_pack_gqa_benchmark.py
  extensions/magi_attn_extensions/dsa_interface.py
  extensions/tests/test_dsa_interface.py
  magi_attention/csrc/flexible_flash_attention/flash.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.cpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_common.hpp
  magi_attention/csrc/flexible_flash_attention/flex_flash_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/fwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/functional/_flex_flash_attn_jit.py
  magi_attention/functional/dist_attn.py
  magi_attention/functional/flex_flash_attn.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_index_attn_indices_attn.py
Due: copyright_checker, csrc_code_formatter

Bump v1.1.1 (#318)
  .github/workflows/sphinx.yaml
  README.md
  docs/README.md
  docs/README_zh.md
  docs/source/_templates/language-switcher.html
  extensions/README.md
  extensions/magi_attn_extensions/__init__.py
  extensions/magi_attn_extensions/fa4_interface_with_sink.py
  extensions/requirements.txt
  extensions/tests/test_fa_interface_with_sink.py
  magi_attention/functional/fa4_utils.py
  pyproject.toml
  requirements.txt
Due: copyright_checker

hotfix(misc): hotfix some after v1.1.1 (#319)
  docs/deploy_docs.md
  extensions/requirements.txt
  magi_attention/common/range_op/_range_gather.py
  magi_attention/functional/fa4_utils.py
  magi_attention/utils/_utils.py
  scripts/translate_po.py
Due: copyright_checker

feat+bugfix+refactor: Merge Block Metadata for Backward Range Merge and Unify Forward Execution Paths (#317)
  .gitignore
  magi_attention/common/jit/core.py
  magi_attention/csrc/flexible_flash_attention/block_meta.h
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/bwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/deterministic.h
  magi_attention/csrc/flexible_flash_attention/epilogue_bwd.hpp
  magi_attention/csrc/flexible_flash_attention/epilogue_fwd.hpp
  magi_attention/csrc/flexible_flash_attention/flash_bwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flex_flash_bwd.hpp
  magi_attention/csrc/flexible_flash_attention/fwd_tile_scheduler.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/functional/flex_flash_attn.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_block_sparse_attn.py
  tests/test_attn/test_flex_flash_attn.py
  tests/test_attn/test_index_attn.py
  tests/test_attn/test_merge_range.py
  tests/test_attn/test_simple_attn.py
Due: copyright_checker, csrc_code_formatter

perf: fix FWD/BWD stack spill regression from BlockMeta refactor (#320)
  magi_attention/csrc/flexible_flash_attention/block_meta.h
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
Due: copyright_checker, csrc_code_formatter

refactor: IndexAttn indices use logical token positions instead of physical row IDs (#323)
  exps/attn/example_index_attn_viewtrick.py
  magi_attention/csrc/flexible_flash_attention/block_meta.h
  magi_attention/functional/flex_flash_attn.py
  magi_attention/utils/sparse_utils.py
  tests/test_attn/test_simple_attn.py
Due: copyright_checker, csrc_code_formatter

Update benchmarking and fix docs import issue (#324)
  .gitignore
  exps/attn/baselines/block_sparse_attn_triton.py
  exps/attn/bench_bwd_loopq_loopk.py
  exps/attn/profile_ffa/ffa_benchmark.py
  exps/attn/run_benchmark.py
  exps/attn/run_blackwell_benchmark.py
  exps/attn/run_block_sparse_benchmark.py
  exps/attn/run_index_attn_comparison_benchmark.py
  exps/attn/run_index_attn_dense_benchmark.py
  exps/attn/run_index_attn_pack_gqa_benchmark.py
  exps/attn/run_index_attn_sparsity_benchmark.py
  exps/attn/run_max_logits_benchmark.py
  exps/attn/run_packgqa_bench.py
  exps/attn/run_packgqa_swapab_bench.py
  exps/attn/run_sparse_load_benchmark.py
  exps/attn/run_sparse_load_block_sparse_benchmark.py
  exps/attn/run_sparse_load_dense_benchmark.py
  exps/attn/run_sparse_load_pack_gqa_benchmark.py
  exps/attn/run_swapab_benchmark.py
  exps/attn/run_swapbwdqkloop_benchmark.py
  exps/attn/run_swapbwdqkloop_block_sparse_benchmark.py
  exps/attn/run_swapbwdqkloop_sparse_load_benchmark.py
  exps/attn/run_var_block_sparse_benchmark.py
  exps/dist_attn/run_benchmark.py
  magi_attention/benchmarking/__init__.py
  magi_attention/benchmarking/bench.py
  magi_attention/benchmarking/image_grid.py
  magi_attention/benchmarking/utils.py
  magi_attention/functional/flex_flash_attn.py
  tests/test_attn/test_merge_range.py
Due: copyright_checker

perf: add compile-time MaskMode dispatch and rebalance BWD register allocation (#325)
  exps/attn/run_benchmark.py
  magi_attention/csrc/flexible_flash_attention/bwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/flash_bwd_kernel_sm90.h
  magi_attention/csrc/flexible_flash_attention/flash_bwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/flash_fwd_launch_template.h
  magi_attention/csrc/flexible_flash_attention/fwd_inst_template.jinja
  magi_attention/csrc/flexible_flash_attention/mainloop_bwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mainloop_fwd_sm90_tma_gmma_ws.hpp
  magi_attention/csrc/flexible_flash_attention/mask.h
  magi_attention/functional/_flex_flash_attn_jit.py
Due: copyright_checker, csrc_code_formatter

upgraded magi-base tag to 25.10.10 (#328)
  .github/workflows/build_test.yaml
  exps/dist_attn/Dockerfile.benchmark
Due: none

ci: add PREBUILD_LEVEL=ci and JIT_COMPILE_DISABLED=1 to build_test.yaml (#330)
  .github/workflows/build_test.yaml
Due: none

[HotFix] Fix misc, including ci, docs, coveragerc (#332)
  .coveragerc
  .github/workflows/build_test.yaml
  docs/Makefile
  docs/locale/zh_CN/LC_MESSAGES/user_guide/env_variables.po
  docs/locale/zh_CN/LC_MESSAGES/user_guide/magi_api.po
  docs/source/user_guide/env_variables.md
Due: none

[HotFix] Fix extensions and ci (#337)
  .github/workflows/build_test.yaml
  docs/locale/zh_CN/LC_MESSAGES/user_guide/magi_api.po
  extensions/magi_attn_extensions/fa2_interface_with_sink.py
  extensions/magi_attn_extensions/fa3_interface_with_sink.py
  extensions/magi_attn_extensions/fa4_interface_with_sink.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp|hxx|proto|py|pyi|sh)$, but not: (?x)^(
    magi_attention/csrc/cutlass/.+|
)$

  csrc_code_formatter: any of: ^magi_attention/csrc/.*\.(h|cuh|hpp|cpp|cu)$, but not: (?x)^(
    magi_attention/csrc/cutlass/.+|
)$

